<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="side" opened>
    <mat-toolbar class="sidenav-header">
      <mat-icon class="app-icon">folder_special</mat-icon>
      <span class="app-title">DocManager</span>
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item 
         *ngFor="let item of menuItems" 
         [routerLink]="item.route"
         routerLinkActive="active">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span matLine>{{ item.label }}</span>
      </a>
    </mat-nav-list>
    
    <div class="sidenav-footer">
      <mat-divider></mat-divider>
      <div class="user-info">
        <mat-icon>account_circle</mat-icon>
        <div class="user-details">
          <span class="user-name">Utilisateur</span>
          <span class="user-role">Administrateur</span>
        </div>
      </div>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
    </mat-toolbar>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>